@import "../styles.css";

body {
  margin-top: 80px;
}

.LandingHeader {
  background-image: url('../images/knight-landing-page.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  max-height: 780px;
  box-sizing: border-box;
  padding: 190px 100px 40px 100px;
}


.LandingBannerContainer {
  color: white;
  height: 530px;
  width: 100%;
  display: flex;
  align-content: center;
}

.LandingBanner {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.LandingBannerTitle {
  font-size: 60px;
  font-weight: 500;
}

.LandingBannerSubtitle {
  padding: 16px 0;
  width: 200px;
  font-size: 20px;
  font-weight: 400;
}

.LandingBannerButton {
  padding: 8px 16px;
  width: 120px;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  background-color: white;
  color: var(--darkBlue);
  border: 2px solid var(--darkBlue);
  text-decoration: none;
}

.LandingExploreNearby {
  background-color: black;
  height: 100vh;
}

.AllSessions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-y: auto;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.SessionMap {
  background-size: cover;
  height: 400px;
  width: 400px;
  margin: 20px;
  border-radius: 5px;
}

.NearYouTitle > h2{
  margin: 0;
  padding: 20px;
  color: white;
  text-align: center;
  font-weight: normal;
  font-family: Luminari, fantasy, cursive;
}
