@import "../styles.css";

.NavigationContainer {
  height: 80px;
  width: 100%;
  background-color: var(--darkBlue);
  box-sizing: border-box;
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
}

.NavHome {
  font-size: 30px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 100px;
}

.NavHomeInvisible {
  color: pink;
  position: absolute;
  font-size: 35px;
  margin-top: 40px;
  margin-left: 50px;
  z-index: 1;
}

.NavHomeInvisible > a {
  text-decoration: none;
  color: white;
}

.NavHome > a{
  text-decoration: none;
  color: white;
}

.NavSearchBar {
  margin: auto 0;
  display: flex;
  border: 2px solid white;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
}

.NavSearchBar:hover{
  box-shadow: 0px 2px 3px white;
}

.NavSearch {
  color: white;
  margin: auto 20px;
  padding-right: 150px;
}

.NavSearchButton {
  border-radius: 30px;
  height: 30px;
  width: 30px;
}

.NavRightContainer {
  display: flex;
  margin: auto 0;
}

.NavBecomeHost {
  margin: auto 0;
}

.NavHostButton {
  background: none;
  border-radius: 30px;
  font-size: 16px;
  height: 30px;
  width: auto;
  color: white;
  padding: 5px;
  margin-right: 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.NavProfileButton {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 100px;
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  height: 40px;
  width: 80px;
  padding: 10px;
  font-size: 18px;
  box-sizing: border-box;
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  height: 300px;
  width: 200px;
  z-index: 1;
  color: white;
  background-color: var(--darkBlue);
  list-style-type: none;
  padding: 20px;
  right: 120px;
  border-radius: 10px;
  box-shadow: 0 1px 3px white;
}

.hidden {
  display: none;
}

.LogoutButton {
  width: 80px;
  height: 40px;
  font-size: 1em;
  border-radius: 8px;
  margin: 0 auto;
  background-color: #e25f6a;
  color: white;
  border: 2px solid #e25f6a;
  font-weight: bold;
  position: absolute;
  bottom: 25px;
  right: 135px;
}

.LogoutButton:hover {
  transition: all 0.4s ease 0s;
  color: #e25f6a;
  background-color: white;
  cursor: pointer;
}
