@import "../styles.css";

.HostingFormContainer {
  background-color: var(--lightBlue);
  color: white;
  width: 300px;
  margin: 200px auto;
  border: 2px solid var(--darkBlue);
  border-radius: 10px;
}

.HostingFormErrors {
  width: 90%;
  margin: 10px auto;
  list-style-type: none;
  color: darkred;
  padding-left: 0;
}

.HostingFormTitle {
  margin: 20px 20px;
  font-size: 2.5em;
}

.HostingForm {
  display: flex;
  flex-direction: column;
}

.HostingFormLabel {
  padding: 5px;
  width: 90%;
  margin: 10px auto;
  display: flex;
  border-radius: 5px;
  background-color: var(--greyBlue);
}

.HostingFormDescriptionInput,
.HostingFormLocationInput,
.HostingFormMapInput,
.HostingFormPartyInput {
  width: 100%
}

.HostingFormSubmitButton {
  width: 90%;
  height: 50px;
  font-size: 2em;
  border-radius: 8px;
  margin: 10px auto;
  background-color: var(--greyBlue);
  color: white;
  border: 2px solid var(--greyBlue);
}

.HostingFormSubmitButton:hover {
  transition: all 0.4s ease 0s;
  background-color: var(--brightBlue);
  cursor: pointer;
}

.HostingFormView {
  width: 90%;
  margin: 10px auto;
}

.HostingFormView > a {
  color: var(--darkBlue);
  text-decoration: none;
}

.HostingFormView > a:hover {
  text-decoration: underline;
  cursor: pointer;
}
