@import "../styles.css";

.LoginFormContainer {
  background-color: var(--lightBlue);
  color: white;
  width: 300px;
  margin: 200px auto;
  border: 2px solid var(--darkBlue);
  border-radius: 10px;
}

.LoginFormErrors {
  width: 90%;
  margin: 10px auto;
  list-style-type: none;
  color: darkred;
  padding-left: 0;
}

.LoginFormTitle {
  margin: 20px 20px;
  font-size: 2.5em;
}

.LoginForm {
  display: flex;
  flex-direction: column;
}

.LoginFormUsernameLabel,
.LoginFormPasswordLabel {
  padding: 5px;
  width: 90%;
  margin: 10px auto;
  display: flex;
  border-radius: 5px;
  background-color: var(--greyBlue);
}

.LoginFormInputIcon {
  font-size: large;
  width: 15%;
  height: fill;
}

.LoginFormUsernameInput,
.LoginFormPasswordInput {
  width: 100%
}

.LoginFormSubmitButton {
  width: 90%;
  height: 50px;
  font-size: 2em;
  border-radius: 8px;
  margin: 10px auto;
  background-color: var(--greyBlue);
  color: white;
  border: 2px solid var(--greyBlue);
}

.LoginFormSubmitButton:hover {
  transition: all 0.4s ease 0s;
  background-color: var(--brightBlue);
  cursor: pointer;
}

.LoginFormSignup {
  width: 90%;
  margin: 10px auto;
}

.LoginFormSignup > a {
  color: var(--darkBlue);
  text-decoration: none;
}

.LoginFormSignup > a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.LoginFormIcons {
  font-size: 3em;
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin: 20px auto;
}

.LoginFormIcon:hover {
  transition: all 0.4s ease 0s;
  color: var(--greyBlue);
  cursor: pointer;
}
